include ../../../node_modules/bemto.pug/bemto.pug
include ../template/link.pug
doctype html
html
    head
        meta(charset="utf-8")
        meta(title="index")
        +style()
        +script()
    body
        //+b gfr
        +b.menu-group
            include ../template/menu
            //+b.container
            include ../template/submenu
        include ../template/info
        +b.content
            +e.container
                include ../template/booking
                include ../template/right-side-panel
        include ../template/footer