+b.footer
    +e.container
        +e.left-block Аэроэкспресс 1998-2013
        +e.right-block
            +e.block
                +e.text Телефон справочной службы:
                +e.telephone (3022) 45-05-05
            +e.block
                +e('a')(href='#').link Адреса точек продаж
                +e('span') |
                +e('a')(href='#').link Написать нам