//+b.container
+b.info
    +e('img')(src="../../assets/images/logo.png").image
    +e.info Авиаэкспресс - крупнейшая в Забайкалье сеть универсальных касс по продаже авиационных, железнодорожных билетов и туристических услуг.
    +e.telephone
        +e.block1 Телефон справочной службы:
        +e.block2 +7 (3022) 45-02-02