+b.menu
    +b.container
        +b.menu-elements
            +e('a')(href="#").element
                +e('img')(src="../../assets/images/House-512.png")
            +e.element.map Карта сайта
            +b.menu-items
                +e('a')(href="#").item Авиабилеты
                +e('a')(href="#").item Ж\Д билеты
                +e('a')(href="#").item Поиск тура
            +b.menu-block
                +e('a')(href="#").item О компании
                +e('a')(href="#").item Услуги
                +e('a')(href="#").item Пресс-центр
                +e('a')(href="#").item Офисы продаж
                +e('a')(href="#").item Контакты
